prune .github
prune cli
prune config
prune docs/dev
prune scripts
prune tests

exclude .DS_Store
exclude test_marker_utils.py

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
